Checks:
    - "*"
    - "-abseil-*"
    - "-altera-*"
    - "-android-*"
    - "-boost-*"
    - "-darwin-*"
    - "-fuchsia-*"
    - "-google-*"
    - "google-explicit-constructor"
    - "-linuxkernel-*"
    - "-llvm-*"
    - "-llvmlibc-*"
    - "-objc-*"
    - "-openmp-*"
    - "-zircon-*"
    - "-clang-diagnostic-c++98*"
    - "-clang-diagnostic-pre-c++14*"
    - "-clang-diagnostic-pre-c++17*"
    - "-clang-diagnostic-pre-c++20*"
    - "-clang-diagnostic-padded"
    - "-clang-diagnostic-shadow-field-in-constructor"
    - "-clang-diagnostic-covered-switch-default"
    - "-bugprone-easily-swappable-parameters"
    - "-readability-uppercase-literal-suffix"
    - "-readability-identifier-length"
    - "-hicpp-uppercase-literal-suffix"
    - "-misc-use-anonymous-namespace"
HeaderFilterRegex: '^(quadtree|app)/'
